# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Evidence (local only)
evidence/

# Temporary files
*.tmp
temp/
